[Unit]
Description=Install base image to computer from USB local images
ConditionKernelCommandLine=reclone

[Service]
ExecStart=/qcimage/shell/main.sh reclone
RemainAfterExit=yes
TimeoutSec=0
Type=oneshot
