pagefile.sys
hiberfil.sys
Recovery
PerfLogs
System Volume Information
$Recycle.Bin
Documents and Settings
ProgramData/Application Data
ProgramData/Desktop
ProgramData/Documents
ProgramData/Favorites
ProgramData/Start Menu
ProgramData/Templates
Users/Default/AppData/Local/Application Data
Users/Default/AppData/Local/History
Users/Default/AppData/Local/Temporary Internet Files
Users/Default/Application Data
Users/Default/Cookies
Users/Default/Documents/My Music
Users/Default/Documents/My Pictures
Users/Default/Documents/My Videos
Users/Default/Local Settings
Users/Default/My Documents
Users/Default/NetHood
Users/Default/PrintHood
Users/Default/Recent
Users/Default/SendTo
Users/Default/Start Menu
Users/Default/Templates
Users/Default User
Users/Public/Documents/My Music
Users/Public/Documents/My Pictures
Users/Public/Documents/My Videos
Users/tourney-user/AppData/Local/Application Data
Users/tourney-user/Application Data
Users/tourney-user/Documents/My Music
Users/tourney-user/Documents/My Pictures
Users/tourney-user/Documents/My Videos
Users/tourney-user/My Documents
Users/tourney-user/NetHood
Users/tourney-user/PrintHood
Users/tourney-user/SendTo
Users/tourney-user/Templates
